{% extends 'base.html.twig' %}
{% block title %}Maintenance - Administration{% endblock %}
{% block body %}
<div class="container">
    <h1>Maintenance (En développement)</h1>
    <a href="{{ path('admin_dashboard') }}">Retour</a>
</div>
{% endblock %}