{% extends 'base.html.twig' %}

{% block title %}Gestion des tâches - Administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="h3">Gestion des tâches</h1>
            <p class="text-muted">{{ total_tasks }} tâche(s) au total</p>
        </div>
    </div>
    
    <div class="alert alert-info">
        <i class="fas fa-info-circle me-2"></i>
        Interface de gestion des tâches en cours de développement.
    </div>
    
    <a href="{{ path('admin_dashboard') }}" class="btn btn-primary">
        <i class="fas fa-arrow-left me-2"></i>Retour au tableau de bord
    </a>
</div>
{% endblock %}