{# templates/project/_task_actions.html.twig #}
<div class="d-flex justify-content-end align-items-center gap-1">
	{% if is_granted('TASK_VIEW', task) %}
		<a href="{{ path('task_show', {id: task.id}) }}" class="btn btn-sm btn-outline-info" title="Voir les détails">
			<i class="fas fa-eye"></i>
			<span class="d-none d-lg-inline ms-1">Voir</span>
		</a>
	{% endif %}

	{% if is_granted('TASK_DELETE', task) %}
		<button type="button" class="btn btn-sm btn-outline-danger delete-task-btn" data-bs-toggle="modal" data-bs-target="#deleteTaskModal" data-task-id="{{ task.id }}" data-task-title="{{ task.title }}" title="Supprimer la tâche">
			<i class="fas fa-trash"></i>
			<span class="d-none d-lg-inline ms-1">Supprimer</span>
		</button>
	{% endif %}
</div>